{{>navbar}}

<h1>{{curso.nombreCurso}}</h1>
<p>{{curso.descripcion}}</p>
<p>{{curso.valor}}</p>
<p>{{curso.modalidad}}</p>
<p>{{curso.intensidad}}</p>

<a href="/inscripciones/nuevo/{{curso.idCurso}}">Inscribirse</a>

{{#if mensajeExito}}
<div class="alert alert-success" role="alert">
  {{mensajeExito}}
</div>
{{/if}}
{{#if mensajeError}}
<div class="alert alert-danger" role="alert">
  {{mensajeError}}
</div>
{{/if}}