{{>navbar}}

<div class="jumbotron">

  <h1>{{curso.nombreCurso}}</h1>
  <h4>Descripción: </h4>
  <p>{{curso.descripcion}}</p>
  <h4>Valor: </h4>
  <p>{{curso.valor}}</p>
  <h4>Modalidad: </h4>
  <p>{{curso.modalidad}}</p>
  <h4>Intensidad: </h4>
  <p>{{curso.intensidad}}</p>

  {{#if coordinador}}
    {{#if curso.estado}}
      <a class="btn btn-primary" href="/cursos/cerrar/{{curso._id}}">Cerrar curso</a>
    {{else}}
      <p>El curso se encuentra cerrado</p>
    {{/if}}
  {{else}}
    <a class="btn btn-primary" href="/inscripciones/nuevo/{{curso._id}}">Inscribirse</a>
  {{/if}}
</div>