{{>navbar}}

<div class="jumbotron">
  <h1>{{curso.nombreCurso}}</h1>
  <p>{{curso.descripcion}}</p>
  <p>{{curso.valor}}</p>
  <p>{{curso.modalidad}}</p>
  <p>{{curso.intensidad}}</p>

  {{#if coordinador}}
    {{#if curso.estado}}
      <a href="/cursos/estado/{{curso.idCurso}}">Desactivar curso</a>
    {{else}}
      <a href="/cursos/estado/{{curso.idCurso}}">Activar curso</a>
    {{/if}}
  {{else}}
    <a href="/inscripciones/nuevo/{{curso.idCurso}}">Inscribirse</a>
  {{/if}}
</div>

{{#if mensajeExito}}
<div class="alert alert-success" role="alert">
  {{mensajeExito}}
</div>
{{/if}}
{{#if mensajeError}}
<div class="alert alert-danger" role="alert">
  {{mensajeError}}
</div>
{{/if}}