{{>navbar}}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Valor</th>
      {{#if coordinador}}
      <th scope="col">Estado</th>
      {{/if}}
      <th scope="col">Opciones</th>

    </tr>
  </thead>
  <tbody>
    {{#each listaCursos}}
    <tr>
      <td scope="row">{{nombreCurso}}</td>
      <td>{{descripcion}}</td>
      <td>{{valor}}</td>
      {{#if ../coordinador}}
      <td>
        {{#if estado}}
          <span class="badge badge-success">Activo</span>
        {{else}}
          <span class="badge badge-secondary">Inactivo</span>
        {{/if}}
      </td>
      {{/if}}
      <td><a href="/cursos/{{idCurso}}">Ver mas</a></td>
    </tr>
    {{/each}}
</table>