{{>navbar}}

{{#if aspirante}}
<div class="row">
  <h1>Cursos disponibles</h1>
</div>
{{else}}
<div class="row">
  <h1>Cursos</h1>
</div>
{{/if}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Valor</th>
      {{#if coordinador}}
      <th scope="col">Estado</th>
      {{/if}}
      <th scope="col">Opciones</th>

    </tr>
  </thead>
  <tbody>
    {{#each cursosCerrados}}
    <tr>
      <td scope="row">{{idCurso.nombreCurso}}</td>
      <td>{{idCurso.descripcion}}</td>
      <td>{{idCurso.valor}}</td>
      <td><a class="btn btn-info" href="/cursos/inscritos/{{idCurso.id}}">Ver inscritos</a></td>
    </tr>
    {{/each}}
</table>