{{>navbar}}
<div class="accordion" id="accordionExample">
{{#each inscripciones}}
  <div class="card">
    <div class="card-header" id="heading{{idCurso}}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{idCurso}}" aria-expanded="true" aria-controls="collapse{{idCurso}}">
          {{nombreCurso}}
        </button>
      </h2>
    </div>
    <div id="collapse{{idCurso}}" class="collapse" aria-labelledby="heading{{idCurso}}" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each inscritos}}
            <tr>
            <td scope="row">{{usuario.docUsuario}}</td>
            <td>{{usuario.nombreUsuario}}</td>
            <td><a class="btn btn-danger" href="/inscripciones/eliminar/{{docUsuario}}{{../idCurso}}" role="button">Eliminar</a></td>
            </tr>
            {{/each}}
        </table>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{#if mensajeExito}}
<div class="alert alert-success" role="alert">
  {{mensajeExito}}
</div>
{{/if}}
{{#if mensajeError}}
<div class="alert alert-danger" role="alert">
  {{mensajeError}}
</div>
{{/if}}


